 <form action="{{form_action}}" method="post">
            
    {% csrf_token %} {% comment %} Uma tag de segurança do Django que protege seu formulário contra ataques  {% endcomment %}
    
    <div class="form-content">
        {% for field in form %} {% comment %} um for em cada campo do formulario enviado pelo view {% endcomment %}
        
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label> {% comment %} para definifir um rotulo para cada elemento do from{% endcomment %}
            {{field}} {% comment "" %} Input gerado automaticamente, com os atributos todos preenchido{% endcomment %}
            {{field.errors}} {% comment "" %} Caso o valor do input estiver errado vai levantar determinado erro{% endcomment %}
        
            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}

        </div>
        {% endfor %} {% comment %} fim do for {% endcomment %}
    </div>

    {% if form.non_field_errors %}
        <div class="form-content">
            <div class="form-group">
                <div class="message error">
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-content">
        <div class="form-group">
            <button class="btn" type="submit">Enviar</button> {% comment %} Botão para enviar o formulario {% endcomment %}
        </div>
        
    </div>
    
</form>