<nav>
    <nav class="navbar">
    <div class="navbar-logo">
        <a href="{% url 'SistemaEstoque:home' %}">EstoquePro</a>
    </div>

    <ul class="navbar-links">
        <li><a href="{% url 'SistemaEstoque:home' %}">Home</a></li>
        <li><a href="{% url 'SistemaEstoque:inventario' %}">Inventário</a></li>
        <li><a href="{% url 'SistemaEstoque:novo_item' %}">Cadastrar Produto</a></li>
        <li><a href="{% url 'SistemaEstoque:nova_categoria' %}">Cadastrar Categoria</a></li>
    </ul>

    <div class="navbar-user">
        <span><a class="logout" href="{% url "SistemaEstoque:atualizar_usuario" %}">👤 {{ user.username }}</a></span>
        <a href="{% url 'SistemaEstoque:logout' %}" class="btn-logout">logout</a>
        
    </div>
</nav>
</nav>