<nav>
    <div class="nav-content">
        
            <div class="logo">
                
                <a href="{% url "SistemaEstoque:home" %}">
                    <h1 class="text-2xl">Estoque</h1>
                </a>
            </div>

            <div class="nav-links">
                <a href="{% url "SistemaEstoque:inventario" %}">Inventário</a>
                <a href="{% url "SistemaEstoque:novo_item" %}">Novo Item</a>
                <a href="{% url "SistemaEstoque:nova_categoria" %}">Nova Categoria</a>

            </div>
    </div>
</nav>