<nav>
    <div class="nav-content">
        
            <div class="logo">
                
                <a href="{% url "SistemaEstoque:home" %}">
                    <h1 class="text-2xl">Estoque</h1>
                </a>
            </div>

            <div class="nav-links">
                <a href="{% url "SistemaEstoque:inventario" %}">Inventário</a>
                <a href="{% url "SistemaEstoque:novo_item" %}">Cadastrar Produto</a>
                <a href="{% url "SistemaEstoque:nova_categoria" %}">Cadastrar Categoria</a>

            </div>
            <div class="nav-right">
                <div class="user-info">
                    <span class="text-sm text-gray-500"></span>
                    <span class="text-sm text-gray-600">{{user.username}}</span>
                </div>
                <div class="user-avatar">
                    <p>NU</p>
                </div>
            </div>
    </div>
</nav>