{% extends "global/base.html" %}
{% block content %}
   <div class="home-container">
        <h1 class="home-title">Painel de Controle</h1>
        <p class="home-subtitle">Gerencie seus produtos de forma simples e rápida</p>

        <div class="stats-grid">
            <div class="stat-card green">
                <h2>{{ total_produtos }}</h2>
                <p>Total de Produtos</p>
            </div>

            <div class="stat-card red">
                <h2>R$ {{ valor_total|floatformat:2 }}</h2>
                <p>Valor Total</p>
            </div>

            <div class="stat-card blue">
                <h2>{{ total_categoria }}</h2>
                <p>Categorias</p>
            </div>
        </div>
    </div>
{% endblock content %}