{% extends "global/base.html" %}
{% block content %}
    <div class="home-container">
    <h1 class="home-title">📦 Sistema de Estoque</h1>
    <p class="home-subtitle">Gerencie seus produtos de forma simples e rápida</p>

    <div class="home-cards">
        <div class="card">
            <h2>{{ total_produtos }}</h2>
            <p>Produtos Cadastrados</p>
        </div>
        <div class="card">
            <h2>R$ {{ valor_total|floatformat:2 }}</h2>
            <p>Valor Total em Estoque</p>
        </div>
        <div class="card">
            <h2>{{ total_categoria }}</h2>
            <p>Categorias</p>
        </div>
    </div>
</div>
{% endblock content %}