{% extends "global/base.html" %}
{% block content %}
   <div class="inventario-container">
    <h1 class="inventario-title">Inventário Completo</h1>
    <p class="inventario-subtitle">Visão geral do estoque</p>
    <div class="search-container">
        <form action="{% url "SistemaEstoque:search" %}" method="GET">
                <input type="search" class="search-input" placeholder="Buscar por ID, Nome, Preço ou Categoria..." 
                id="search" name="q" value="{{search_value}}">
                <button class="search-btn">Buscar</button>
        </form>
    </div>
    <div class="inventario-table-container">
        <table class="inventario-table">
            <thead>
                <tr>
                    <th>ID</t>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in estoque %}
                <tr>
                    <td>
                        <a href="{% url 'SistemaEstoque:item_sozinho' produto.id %}" class="table-link"> {{produto.id}}</a>
                    </td>
                    <td>
                        {{ produto.nome }}
                    </td>
                    <td>
                        {{ produto.quantidade }}
                    </td>
                    <td>
                        R$ {{ produto.preco }}
                    </td>
                    <td>
                        {{ produto.categoria|default:"Sem categoria" }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhum produto cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}