{% extends "global/base.html" %}
{% block content %}
    <div class="item-container">
        <h1 class="item-title">{{ item.nome }}</h1>

        <div class="item-details">

            <div class="item-info">
                <p><strong>ID:</strong> {{ item.id }}</p>
                <p><strong>Categoria:</strong> {{ item.categoria|default:"Sem categoria" }}</p>
                <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
                <p><strong>Preço:</strong> R$ {{ item.preco|floatformat:2 }}</p>
                <p>{{item.criador}} {{request.user}} {{ user.username }}</p>
                {% if item.criador == request.user %}
                    <div class="item-buttons">
                        <a href="{% url 'SistemaEstoque:update' item.id %}" class="btn-edit">Atualizar Produto</a>
                        <a href="{% url 'SistemaEstoque:delete' item.id %}" class="btn-delete">Excluir Produto</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}