{% extends "global/base.html" %}
{% block content %}
    <div class="form-container">
        <h1 class="form-title"> Login</h1>

        {% if user.is_authenticated %}
            <p>{{user.username}} fez login com sucesso.</p>
            <a href="{% url "SistemaEstoque:logout" %}">Clique aqui para sair. </a>
        {% else %}

        <form action="{{form_action}}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn-submit">Entrar</button>
            <p>Não tem conta? <a href="{% url "SistemaEstoque:criar_usuario" %}">Registre-se</a></p>
        </form>
        
        {% endif %}
    </div>
{% endblock content %}
